html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
canvas {
  display: block;
}

select {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2rem;
  background-color: white;
  border: none;
  padding: 1rem;
}

button {
  font-size: 2rem;
  font-family: 'Luckiest Guy', cursive;
  background-color: white;
  border: none;
  padding: 1rem;
}
